<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Новости?!</span>
    </a>
    <hr>
    <form method="post" action="search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    {% csrf_token %}
     <input type="search" class="form-control form-control-dark" placeholder="Поиск..."
           aria-label="Search" name="search_news">
        <button type="submit" class="btn btn-primary">Поиск</button>
        <hr>
     <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Главная
        </a>
      </li>
    <hr>
      <li class="nav-item">
        <a href="/category" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Категории
        </a>
      </li>
    <hr>
</div>
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Лента новостей</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for n in view_news %}
      <div class="feature col">
        <h3 class="fs-2 text-whitelink bg-dark">{{ n.head }}</h3>
        <p>{{ n.text }}</p>
        <a href="/news/{{ n.id }}" class="icon-link">
          Подробнее
          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
        </a>
      </div>
        {% endfor %}
    </div>
</div>
</body>
</html>